<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Cybage.Listeners"/>
	</listeners>

  <test thread-count="5" name="TestHomePage">
    <classes>
        <class name="Cybage.HomePage"/>
     </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="TestCareersPage">
    <classes>
      <class name="Cybage.CareersPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
